# READING AND WRITING DATA

Pandas offers two ways to read in CSV or DSV files
• DataFrame.from_csv
• read_csv

In [10]:
import pandas as pd
EXrates = pd.read_csv("dollar_euro.txt", sep ="\t")
print(EXrates)

    Year   Average  Min USD/EUR  Max USD/EUR  Working days
0   2016  0.901696     0.864379     0.959785           247
1   2015  0.901896     0.830358     0.947688           256
2   2014  0.753941     0.716692     0.823655           255
3   2013  0.753234     0.723903     0.783208           255
4   2012  0.778848     0.743273     0.827198           256
5   2011  0.719219     0.671953     0.775855           257
6   2010  0.755883     0.686672     0.837381           258
7   2009  0.718968     0.661376     0.796495           256
8   2008  0.683499     0.625391     0.802568           256
9   2007  0.730754     0.672314     0.775615           255
10  2006  0.797153     0.750131     0.845594           255
11  2005  0.805097     0.740357     0.857118           257
12  2004  0.804828     0.733514     0.847314           259
13  2003  0.885766     0.791766     0.963670           255
14  2002  1.060945     0.953562     1.165773           255
15  2001  1.117587     1.047669     1.192748           255
16  2000  1.085899     0.962649     1.211827           255
17  1999  0.939475     0.848176     0.998502           261

 Read in the dsv file (csv) bundeslaender.txt. Create a new file with the columns 'land', 'area',
'female', 'male', 'population' and 'density' (inhabitants per square kilometres.
• print out the rows where the area is greater than 30000 and the population is greater than 10000
• Print the rows where the density is greater than 300

In [12]:
import pandas as pd
BL = pd.read_csv("bundeslaender.txt", sep = " ")
print(BL)

                      land      area  male  female
0        Baden-Württemberg  35751.65  5271    5465
1                   Bayern  70551.57  6103    6366
2                   Berlin    891.85  1660    1736
3              Brandenburg  29478.61  1267    1293
4                   Bremen    404.28   321     342
5                  Hamburg    755.16   849     894
6                   Hessen  21114.79  2983    3109
7   Mecklenburg-Vorpommern  23180.14   846     861
8            Niedersachsen  47624.20  3918    4076
9      Nordrhein-Westfalen  34085.29  8797    9261
10         Rheinland-Pfalz  19853.36  1990    2069
11                Saarland   2568.70   510     540
12                 Sachsen  18415.51  2083    2191
13          Sachsen-Anhalt  20446.31  1206    1264
14      Schleswig-Holstein  15799.38  1385    1448
15               Thüringen  16172.10  1150    1185

In [10]:
import pandas as pd
column_names = ["country"] + (list(range(2002, 2013)))
male = pd.read_csv("male.csv", header = None, index_col=0, names = column_names)
female = pd.read_csv("female.csv", header = None, index_col=0, names = column_names)
population = male + female
population

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
country,,,,,,,,,,,
Australia,19640979.0,19872646,20091504,20339759,20605488,21015042,21431781,21874920,22342398,22620554,22683573
Austria,8139310.0,8067289,8140122,8206524,8265925,8298923,8331930,8355260,8375290,8404252,8443018
Belgium,10309725.0,10355844,10396421,10445852,10511382,10584534,10666866,10753080,10839905,10366843,11035958
Canada,NaN,31361611,31372587,31989454,32299496,32649482,32927372,33327337,33334414,33927935,34492645
Czech Republic,10269726.0,10203269,10211455,10220577,10251079,10287189,10381130,10467542,10506813,10532770,10505445
Denmark,5368354.0,5383507,5397640,5411405,5427459,5447084,5475791,5511451,5534738,5560628,5580516
Finland,5194901.0,5206295,5219732,5236611,5255580,5276955,5300484,5326314,5351427,5375276,5401267
France,59337731.0,59630121,59900680,62518571,62998773,63392140,63753140,64366962,64716310,65129746,65394283
Germany,82440309.0,82536680,82531671,82500849,82437995,82314906,82217837,82002356,81802257,81751602,81843743
Greece,10988000.0,11006377,11040650,11082751,11125179,11171740,11213785,11260402,11305118,11309885,11290067
Hungary,10174853.0,10142362,10116742,10097549,10076581,10066158,10045401,10030975,10014324,9985722,9957731
Iceland,286575.0,288471,290570,293577,299891,307672,315459,319368,317630,318452,319575
Ireland,3882683.0,3963636,4027732,4109173,4209019,4239848,4401335,4450030,4467854,4569864,4582769
Italy,56993742.0,57321070,57888245,58462375,58751711,59131287,59619290,60045068,60340328,60626442,60820696
Japan,127291000.0,127435000,127620000,127687000,127767994,127770000,127771000,127692000,127510000,128057000,127799000
Korea,47639618.0,47925318,48082163,48138077,48297184,48456369,48606787,48746693,48874539,49779440,50004441
Luxembourg,444050.0,448300,451600,455000,469086,476187,483799,493500,502066,511840,524853
Mexico,101826249.0,103039964,104213503,103001871,103946866,104874282,105790725,106682518,107550697,108396211,115682867
Netherlands,16105285.0,16192572,16258032,16305526,16334210,16357992,16405399,16485787,16574989,16655799,16730348
New Zealand,3939130.0,4009200,4062500,4100570,4139470,4228280,4268880,4315840,4367740,4405150,4433100
Norway,4524066.0,4552252,4577457,4606363,4640219,4681134,4737171,4799252,4858199,4920305,4985870
Poland,38632453.0,38218531,38190608,38173835,38157055,38125479,38115641,38135876,38167329,38200037,38538447
Portugal,10335559.0,10407465,10474685,10529255,10569592,10599095,10617575,10627250,10637713,10636979,10542398
Slovak Republic,5378951.0,5379161,5380053,5384822,5389180,5393637,5400998,5412254,5424925,5435273,5404322
Spain,40409330.0,41550584,42345342,43038035,43758250,44474631,45283259,45828172,45989016,46152926,46818221
Sweden,8909128.0,8940788,8975670,9011392,9047752,9113257,9182927,9256347,9340682,9415570,9482855
Switzerland,7261210.0,7313853,7364148,7415102,7459128,7508739,7593494,7701856,7785806,7870134,7954662
Turkey,NaN,70171979,70689500,71607500,72519974,72519974,70586256,71517100,72561312,73722988,74724269
United Kingdom,58706905.0,59262057,59699828,60059858,60412870,60781346,61179260,61595094,62026962,62498612,63256154
United States,277244916.0,288774226,290810719,294442683,297308143,300184434,304846731,305127551,307756577,309989078,312232049

In [13]:
population.to_csv("Total Pop.csv")